body {
    background: #EEF2F7;
}


/* From https://css-tricks.com/almanac/properties/b/box-shadow/ */
.box {
    /* sizing */
    height: 33vw;
    width: 20vw;
    /* spacing */
    margin: 2vw;
    /* text  */
    font-family: 'Noto Sans JP', sans-serif;
    color:white;
    /* shadow */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* default background image settings */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* fix images not being on the same line */
    display: inline-block;
    /* default transition style */
    transition: all 0.3s ease-in-out;
    /* no overflow */
    overflow: hidden;
    /* border */
    border-radius: 1vw;
}
 /* expand on hover */
.box:hover {
    transform: scaleY(1.075) scaleX(1.075);
    transform-origin: center;
}
/* the inner div  */
.box .overlay {
    /* sizing */
    height: 100%;
    width: auto;
    /* spacing */
    padding: 1vw;
    /* background color gradiant */
    background-image: linear-gradient(180deg, rgba(0,0,0,0.8) 15%, rgba(0,0,0,0) 40%,  rgba(0,0,0,0) 80%,  rgba(0,0,0,0.8) 100%);
    /* default transition style */
    transition: all 0.3s ease-in-out;
    /* show pointer */
    cursor: pointer;
}  
/* header */
.box .overlay h3 {
    /* remove margins */
    margin-top: 0;
    margin-bottom: 0;
}
/* description */
.box .overlay p {
    /* change margin */
    margin-top: 0.5vw;
    /* text */
    /* font-weight: 300; */
}

.card-holder {
    display: flex;
    justify-content: center;
}