body {
    background: #EEF2F7;
}


/* From https://css-tricks.com/almanac/properties/b/box-shadow/ */
.box {
    /* sizing */
    height: 30vw;
    width: 20vw;
    margin: 2vw;
    border-radius: 1vw;
    /* shadow */
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    /* default background image settings */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* fix images not being on the same line */
    display: inline-block;
    /* default transition style */
    transition: all .2s ease-out;
}

/* .box:hover p {
    transform: scaleY(0.66)
  } */
  
.box:hover {
    transform: scaleY(1.2) scaleX(1.2);
    transform-origin: center;
}